name: Build

on: [push]

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build
    runs-on: [self-hosted, nix, general, "${{ matrix.arch.runner }}", small]
    strategy:
      matrix:
        arch:
          - nix: x86_64-linux
            runner: amd64-linux
          - nix: aarch64-linux
            runner: arm64-linux
          - nix: aarch64-darwin
            runner: arm64-darwin
    steps:
      - uses: actions/checkout@v3

      - name: Check
        run: nix develop -v -c ./cli.sh code_quality

      - name: Build
        run: nix build -L -v --no-link '.#defaultPackage.${{ matrix.arch.nix }}'

      - name: Cache
        env:
          NIX_OUTPUT: .#defaultPackage.${{ matrix.arch.nix }}
        run: |
          nix store sign "${NIX_OUTPUT}" -v -r -k ~/.secrets/nix-cache-private-key
          nix copy -v "${NIX_OUTPUT}" --to s3://nixed/cache
